:root{
        --white: #f1fcfb;
        --primaryColor-ultra-dark:#062a2d;
        --primaryColor-darker:#154b4c;
        --primaryColor-dark-active:#14595b;
        --primaryColor-dark-hover:#137072;
        --primaryColor-dark:#128e8f;
        --primaryColor-active:#1ab2af;
        --primaryColor-hover: #34cdc8;
        --primaryColor-normal: #55e2d9;
        --primaryColor-light-active: #9df2ea;
        --primaryColor-light-hover: #cef9f4;

}
html{
    font-size: 62.5%;
}
body{
    background-image: url('/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: "Outfit", sans-serif;
    font-size: 2rem;
}

.container{
    max-width: 60rem;
    margin: 0 50rem;
    width: 50%;
}
.app-title{
    font-size: 3.8rem;
    margin-top: 5rem;
    color: var(--white);
    background:linear-gradient(to right, transparent 5%, var(--primaryColor-ultra-dark) 35%, transparent 100%);
    border-radius: .8rem;
    line-height: .8;
    &{
        span{
            display: block;
            color: var(--primaryColor-light-active);
            font-size: 4.4rem;
        }
    }

}
.content{
    margin-top: 5rem;
    padding: 6rem 2rem ;
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.form, .field{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    &{ label{
        color: var(--primaryColor-darker);   
    }
    select{
        background-color: #cef9f4;
        font-size: 1.8rem;
        border:none;
        padding: 1rem;
        border-radius: 1rem;
    }   
    [type="submit"]{
        background-color: var(--primaryColor-dark);
        color: var(--white);
        font-size: 1.8rem;
        font-weight: 900;
        border:none;
        padding: 1rem;
        border-radius: 1rem;
        cursor: pointer;
        text-transform: uppercase;
        margin-top: 1rem;
        transition: all .1s ease-in;
        &:hover{
            background-color: var(--primaryColor-dark-hover);
        }
    } 
}
}   